.table-view {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #d6d6d6;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #4CAF50, #45A049);
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment: CENTER;
}

.table-view .table-row-cell {
    -fx-background-color: #ffffff, linear-gradient(to bottom, #f9f9f9, #f3f3f3);
    -fx-border-color: transparent;
    -fx-font-size: 13px;
    -fx-alignment: CENTER-LEFT;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #f7f7f7, linear-gradient(to bottom, #ffffff, #f7f7f7);
}

.table-view .table-row-cell:hover {
    -fx-background-color: #d9f2d9;
}

.table-view .cell {
    -fx-padding: 8;
    -fx-text-fill: #333;
}

.cards{
    -fx-background-color: #bcdbff;
    -fx-border-color: #89C0FF;
    -fx-background-radius: 20;
    -fx-border-radius: 20px;

}
.plus_btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #C1C1C1;
    -fx-border-style: dashed;
}
.colored_card{
    -fx-background-color: linear-gradient(to right,#1A3384,#2B49B3);
    -fx-background-radius: 10px;
}
.uncolored_card{
    -fx-background-color: #C1C1C1;
    -fx-background-radius: 10px;
}
.icons{
    -fx-background-color: #7096ff;
    -fx-opacity: 1.5;
}