.white-bg{
    -fx-background-color: #fff;
}
.radius{
    -fx-background-radius: 6px;
}
.textfield-l{
    -fx-border-color: #ddd;
    -fx-border-radius: .7px;
    -fx-font-family: Tahoma;
}

.textfield-l:focused{
    -fx-border-color: linear-gradient(to bottom right,#188ba7, #306090);
}
.btn-1{
    -fx-background-color: linear-gradient(to bottom right,#188ba7, #306090);
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.btn-1:hover{
    -fx-background-color: linear-gradient(to bottom right,#11a7c9, #2765a4);
}